/*TABLE OF CONTENTS
0 -- CSS Reset & General Styling
1 -- Site-wide styles
2 -- Layout & Typography
  2.1 -- Header
  2.2 -- Content
3 -- Typography
  */


/* ~~~~~~~~~~~~~~~~~~~~ 0 -- CSS Reset & General Styling ~~~~~~~~~~~~~~~~~~~~ */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-family: 'Roboto', 'Verdana', sans-serif;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.flex {
  display: flex;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ 1 -- Site-wide Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.header,
.footer {
  background-color: #1f2937;
  padding: 0 15%;
  flex-shrink: 0;
  align-items: center;
}

.header {
  justify-content: space-between;
  height: 90px;
}

.header-logo {
  font-size: 24px;
  font-weight: 800;
}

.header-links {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 20px;
}

.header-links a {
  text-decoration: none;
  color: #e5e7eb;
}

.content-container {
  flex-grow: 1;
  flex-direction: column;
  padding: 0 15%;
}

.footer {
  height: 80px;
  justify-content: center;
}

.main-text {
  color: #f9faf8;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 2 -- Layout ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*  2.1 -- Header/Banner  */
.header-banner {
  height: 445px;
  background-color: #1f2937;
  padding: 62px 15% 98px 15%;
}

.banner-signup {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-right: 20px;
  line-height: 1.25;
}

.banner-signup .hero-text {
  font-size: 48px;
  font-weight: 900;
}

.banner-signup .signup-button {
  align-self: flex-start;
  padding: 6px 36px;
  
}

.banner-img {
  width: 50%;
  background-color: #6d747d;
}



/* 2.2 -- Content  */
  /* 2.2.1 -- info-cards */

.info-cards {
  flex-direction: column;
  justify-content: center;
  padding: 40px 0;
}

.info-cards h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  align-self: center;
  padding-bottom: 40px;
}

.info-cards .cards {
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 100px;
}

.cards .card {
  width: 170px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.card .card-img {
  width: 170px;
  height: 170px;
  border: solid #3882f6;
  border-radius: 12px;
}

.card-text {
  color: #1f2937;
  font-size: 18px;
  text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 3 -- Typography ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.signup-button {
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #3882f6;
  font-weight: 600;
}