/* CSS RESET PROPERTIES  */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* STYLES */

/* Global properties and general layout */
body {
  font-family: 'Roboto', 'Verdana', sans-serif;
  display: flex;
  flex-direction: column;
}

.header-container,
.footer-container {
  background-color: #1f2937;
  padding: 0 15%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.content-container {
  flex-grow: 1;
  display: flex;
}